@using MvcContrib.UI.Grid
@model AzureWebFarm.ControlPanel.Areas.ControlPanel.Controllers.DashboardViewModel

@{
    var grid = Html.Grid(Model.Items)
        .Attributes(@class => "table")
        .Columns(c =>
        {
            c.For(site => site.Site.Name);
            c.For(site => site.Site.Description);
            for (var i = 0; i < Model.InstanceCount; i++)
            {
                var ii = i;
                c.For(site => Timestamp(site.SyncStatus.ElementAt(ii).SyncTimestamp))
                    .Named(Model.InstanceNames.ElementAt(ii))
                    .Attributes(r => new Dictionary<string, object> { { "class", r.Item.SyncStatus.ElementAt(ii).Status } });
            }
        });
}

@helper Timestamp(DateTime timestamp) {
    <time title = "@timestamp.ToString("o") GMT" datetime="@timestamp.ToString("o")" data-format="h:mm:ssa ZZ">@timestamp.ToString("hh:mm:sstt")</time>
    <br />
    <time title = "@timestamp.ToString("o") GMT" datetime="@timestamp.ToString("o")" data-format="D MMM YYYY">@timestamp.ToString("d MMM yyyy")</time>
}

<h1>Dashboard</h1>
<div class="table-responsive">
    @grid
</div>
